h1 {
  color: red;
}
h2 {
  color: blue;
}
p {
  font-style: italic;
}
background color{
  yellow;
}
img {
  float :left;
}
.color{
  background-color: yellow;
}
.color{
  background-color: green;
}
body {
  background-color: yelllow;
}
.text{
  text-align: center;
}
.image{
  width:20%;
  border-radius: 50%;
}
